# Testnet Numeron dapp admin used by force_register
NEXT_PUBLIC_CHANNEL_REGISTER_SENDER=0x0f2e287cb86c48754e2f2888c5c1a7e50da46f83ed7148d8227bbf8beae84ec9
NEXT_PUBLIC_PRIVATE_KEY=suiprivkey1qpvh9c4vzuqxg2q3edwkgm5wrt43eclaefuejpgursxfr6qa72vwzpaazzv
NEXT_PUBLIC_CHANNEL_URL=https://channel.obelisk.build
NEXT_PUBLIC_ENABLE_NUMERON_DEBUG=false
NEXT_PUBLIC_CHANNEL_FEED_UI=false
NEXT_PUBLIC_CHANNEL_ITEM_DROPPED=false
NEXT_PUBLIC_DUBHE_CONNECT_RELAY_URL=https://relay.dubhe.obelisk.build
NEXT_PUBLIC_DUBHE_WALLET_ORIGIN=https://wallet.dubhe.obelisk.build
NEXT_PUBLIC_REMOTE_PLAYER_TTL_MS=20000
NEXT_PUBLIC_REMOTE_PLAYER_CLEANUP_INTERVAL_MS=1000
NEXT_PUBLIC_MAX_REMOTE_PLAYERS=0
NEXT_PUBLIC_REMOTE_LABELS_DEFAULT_VISIBLE=false
NEXT_PUBLIC_REMOTE_LABEL_DISTANCE_TILES=3
NEXT_PUBLIC_REMOTE_LABEL_UPDATE_INTERVAL_MS=120
